.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid black 1px;
  background-color: white;
  top: 80px;
  right: 80px;
  z-index: 6;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
  }

  button {
    margin-top: auto;
  }
  .cart-items::-webkit-scrollbar {
    width: 12px;
  }
  .cart-items::-webkit-scrollbar-track {
    background: none;
  }
  .cart-items::-webkit-scrollbar-thumb {
    background-color: rgb(37, 37, 42);    /* color of the scroll thumb */
  }

  .empty-msg {
    margin: 30px auto;
    text-align: center;
  }
}