* {
  box-sizing: border-box;
}

body {
  font-family: 'Alata', sans-serif;
  padding: 20px 60px;
  color: #414141;
  /* background: url(img/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
body::-webkit-scrollbar {
  width: 14px;
}
body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(37, 37, 42);    /* color of the scroll thumb */
}

a {
  text-decoration: none;
  color: #414141
}